<%= form_for DoctorAvailability.new, url: {action: "create"}, html: {class: "new_form"} do |f| %>
  <% Date::DAYNAMES.each do |day_name| %>
    <li>
      <div class="row">
        <label class="label">
          <span>
            <%= day_name.to_s.upcase %>
          </span>
        </label>
        <div class="form-group col-sm-12 col-xs-12" >
          <label>From</label>
          <input type="text" onkeydown="return false" name= "availability[<%= day_name.to_s.downcase %>][start_time]" class="form-control <%= day_name.to_s.downcase %>_start_time_picker" placeholder="Start Time" />
        </div>
        <div class="form-group col-sm-12 col-xs-12">
          <label>To</label>
          <input type="text" onkeydown="return false" name="availability[<%= day_name.to_s.downcase %>][end_time]" class="form-control <%= day_name.to_s.downcase %>_end_time_picker" placeholder="End Time" readonly="true"/>
        </div>
      </div>
    </li>
  <% end %>
  <div class="col-md-12">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  <% Date::DAYNAMES.each do |day_name| %>
    $(".<%= day_name.to_s.downcase %>_start_time_picker").datetimepicker({
      format :'HH:mm',
      useCurrent: false,
    });
    
    $(".<%= day_name.to_s.downcase %>_end_time_picker").datetimepicker({
      format :'HH:mm',
      useCurrent: false,
    });  

    $(".<%= day_name.to_s.downcase %>_start_time_picker").on("dp.change", function(e){
      console.log(e.date);
      $(".<%= day_name.to_s.downcase %>_end_time_picker").data("DateTimePicker").minDate(e.date);
      $(".<%= day_name.to_s.downcase %>_end_time_picker").removeAttr("readonly","true");
    });

    $(".<%= day_name.to_s.downcase %>_end_time_picker").on("dp.change", function(e){
      $(".<%= day_name.to_s.downcase %>_start_time_picker").data("DateTimePicker").maxDate(e.date);
    });
  <% end %>
</script>